In [45]:
import pandas as pd
check_small_6 = pd.read_csv('major/day_mj_6.csv')

In [46]:
# import sklearn
# from sklearn.model_selection import train_test_split
# RANDOM_STATE_SEED = 420
# check_6, check_small_6 = train_test_split(major_6, test_size=0.005, random_state=RANDOM_STATE_SEED)

In [47]:
check_small_6.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,65517,6,2018-02-22 03:21:15,54,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
1,5355,17,2018-02-22 03:28:29,408909,2,0,44,0,22,22,...,8,0.0,0.0,0,0,0.0,0.0,0,0,0
2,19602,6,2018-02-22 12:54:47,158,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
3,80,6,2018-02-22 02:19:00,54328244,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,0
4,53,17,2018-02-22 10:36:14,881,1,1,32,128,32,32,...,8,0.0,0.0,0,0,0.0,0.0,0,0,0

In [48]:
check_small_6.shape

(833386, 70)

In [49]:
check_small_6["Label"].unique()

array([0, 1])

In [50]:
print(check_small_6["Label"].value_counts()[[0]].sum())
print(check_small_6["Label"].value_counts()[[1]].sum())

833094
292

In [51]:
# Convert the timestamp column to datetime format
check_small_6['Timestamp'] = pd.to_datetime(check_small_6['Timestamp'])

In [52]:
for col in check_small_6.columns:
    print(col, check_small_6[col].apply(type).unique())

Dst Port [<class 'int'>]
Protocol [<class 'int'>]
Timestamp [<class 'pandas._libs.tslibs.timestamps.Timestamp'>]
Flow Duration [<class 'int'>]
Tot Fwd Pkts [<class 'int'>]
Tot Bwd Pkts [<class 'int'>]
TotLen Fwd Pkts [<class 'int'>]
TotLen Bwd Pkts [<class 'int'>]
Fwd Pkt Len Max [<class 'int'>]
Fwd Pkt Len Min [<class 'int'>]
Fwd Pkt Len Mean [<class 'float'>]
Fwd Pkt Len Std [<class 'float'>]
Bwd Pkt Len Max [<class 'int'>]
Bwd Pkt Len Min [<class 'int'>]
Bwd Pkt Len Mean [<class 'float'>]
Bwd Pkt Len Std [<class 'float'>]
Flow Byts/s [<class 'float'>]
Flow Pkts/s [<class 'float'>]
Flow IAT Mean [<class 'float'>]
Flow IAT Std [<class 'float'>]
Flow IAT Max [<class 'int'>]
Flow IAT Min [<class 'int'>]
Fwd IAT Tot [<class 'int'>]
Fwd IAT Mean [<class 'float'>]
Fwd IAT Std [<class 'float'>]
Fwd IAT Max [<class 'int'>]
Fwd IAT Min [<class 'int'>]
Bwd IAT Tot [<class 'int'>]
Bwd IAT Mean [<class 'float'>]
Bwd IAT Std [<class 'float'>]
Bwd IAT Max [<class 'int'>]
Bwd IAT Min [<class 'int'>]
Fwd PSH Flags [<class 'int'>]
Fwd Header Len [<class 'int'>]
Bwd Header Len [<class 'int'>]
Fwd Pkts/s [<class 'float'>]
Bwd Pkts/s [<class 'float'>]
Pkt Len Min [<class 'int'>]
Pkt Len Max [<class 'int'>]
Pkt Len Mean [<class 'float'>]
Pkt Len Std [<class 'float'>]
Pkt Len Var [<class 'float'>]
FIN Flag Cnt [<class 'int'>]
SYN Flag Cnt [<class 'int'>]
RST Flag Cnt [<class 'int'>]
PSH Flag Cnt [<class 'int'>]
ACK Flag Cnt [<class 'int'>]
URG Flag Cnt [<class 'int'>]
ECE Flag Cnt [<class 'int'>]
Down/Up Ratio [<class 'int'>]
Pkt Size Avg [<class 'float'>]
Fwd Seg Size Avg [<class 'float'>]
Bwd Seg Size Avg [<class 'float'>]
Subflow Fwd Pkts [<class 'int'>]
Subflow Fwd Byts [<class 'int'>]
Subflow Bwd Pkts [<class 'int'>]
Subflow Bwd Byts [<class 'int'>]
Init Fwd Win Byts [<class 'int'>]
Init Bwd Win Byts [<class 'int'>]
Fwd Act Data Pkts [<class 'int'>]
Fwd Seg Size Min [<class 'int'>]
Active Mean [<class 'float'>]
Active Std [<class 'float'>]
Active Max [<class 'int'>]
Active Min [<class 'int'>]
Idle Mean [<class 'float'>]
Idle Std [<class 'float'>]
Idle Max [<class 'int'>]
Idle Min [<class 'int'>]
Label [<class 'int'>]

In [55]:
check_small_6 = check_small_6.drop('Timestamp', axis=1)

In [56]:
import numpy as np
# Replace infinite values with NaN
check_small_6.replace([np.inf, -np.inf], np.nan, inplace=True)

check_small_6.dropna(inplace=True)
check_small_6.drop_duplicates(inplace=True)

In [57]:
from imblearn.over_sampling import SMOTE

# Split the dataset into features and target variable
X = check_small_6.drop('Label', axis=1)
y = check_small_6['Label']

# Create a SMOTE object
smote = SMOTE(random_state=42, k_neighbors=12)

# Apply SMOTE to the dataset
X_resampled, y_resampled = smote.fit_resample(X, y)

# Concatenate the resampled data into a new DataFrame
resampled_df = pd.concat([pd.DataFrame(X_resampled), pd.Series(y_resampled)], axis=1)
resampled_df.columns = check_small_6.columns

# Print the value counts of the target variable in the resampled data
print(resampled_df['Label'].value_counts())

0    727485
1    727485
Name: Label, dtype: int64

In [65]:
import matplotlib.pyplot as plt

# Split the dataset into features and target variable
X = resampled_df.drop('Label', axis=1)
y = resampled_df['Label']

# Plot a scatter diagram of the dataset with labels as different colors
counter = Counter(y)
for label, _ in counter.items():
    row_ix = where(y == label)[0]
    if label == 0:
        plt.scatter(X.iloc[row_ix, 0], X.iloc[row_ix, 1], label=str(label), color='blue')
    else:
        plt.scatter(X.iloc[row_ix, 0], X.iloc[row_ix, 1], label=str(label), color='yellow')
plt.legend()
plt.show()

NameError: name 'Counter' is not defined